button {
    width: 110px;
    height: 110px;

    font-size: 40px;
    color: white;
    background-color: rgb(31, 26, 61);
    border: 1.5px solid rgb(24, 19, 48);

}

button:hover {
    background-color: rgb(28, 23, 54);
}