<body>
    <div class="left">
        <h1>Current player: {{ player }}</h1>

        <button (click)="newGame()">New Game</button>

        <!-- Winner -->
        <div *ngIf="winner" class="winner">
        <!-- <div class="winner"> -->
            <h3>Player {{ winner }} won the game </h3>
            <h3 style="text-align: center; color: rgb(250, 191, 221);">
                \(●'◡'●)/
            </h3>
        </div>
    </div>

    <div class="right">
        <app-square
            *ngFor="let square of squares; let i = index"
            [value] = square
            (click)="makeMove(i)"
            >
        </app-square>
    </div>


</body>